<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>food4rall</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/request/requestedForFood" class="nav-item nav-link">Requested For Food</a>

            <a href="/blog" class="nav-item nav-link">blog</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="/who-are-you" class="dropdown-item ">Login</a>
                    <a href="/users/signup" class="dropdown-item ">Sign Up</a>
                    <a href="/team" class="dropdown-item">Our Team</a>
                    <a href="/testimonial" class="dropdown-item">Testimonial</a>
                    <a href="/users/user" class="dropdown-item">Profile</a>
                    <a href="/service" class="dropdown-item">Services</a>
                    <a href="/request" class="dropdown-item">Request Food</a>
                    <a href="/users/logout" class="dropdown-item">Logout</a>
                </div>
            </div>
            <a href="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a href="/users/donate" class="btn btn-primary py-2 px-4">Donate Food</a>
    </div>
</nav>
<!-- Flash Message for Success -->
<div class="flash-message success">
    <%= success %>
</div>

<!-- Flash Message for Error -->
<div class="flash-message error">
    <%= error %>
</div>